body{
    background-color:e #FAF9F6;
  }
  .profile-page-profile-photo{
    width:60px;
    margin-left:20px;
    height: 80px;
  }
  .profile{
    display:flex;
    gap:20px;
    margin-top: 40px;
    margin-left:auto;
    margin-right:auto;
    background: color #f6e7de;;
    border: solid black;
    border-width:1px;
    width:1000px;
    border-radius:10px;
    height: 100px;
    padding: 5px;
    padding-top: 10px;
  }
  .Profile-Name{
    font-size:1.7rem;
  }
  .Portfolio{
    text-align:center;
    display:flex;
    gap:30px;
    justify-content: center;
  }
  .Portfolio-Divs{
    margin-top: 10px;
    border:solid black;
    border-radius:10px;
    border-width:1px;
    background-color:white;
    width:300px;
    font-family:arial;
    box-shadow:2px 2px;
  }
  .Protfolio-Heading{
    color:black;
    margin-top: 40px;
    font-size: 1.8rem;
  }
  .Stock-Name{
    font-size:30px;
  }
  .Stock-Short{
    font-size:15px;
  }
  .Stock-Value{
    font-size:20px;
    margin-top:20px;
  }
  .Stock-Growth{
    font-size:15px;
  }
  .StockPicks{
    text-align:center;
    display:flex;
    gap:30px;
    justify-content: center;
  }
  .StockPicks-Divs{
    margin-top: 10px;
    border:solid black;
    border-radius:10px;
    border-width:1px;
    background-color:white;
    width:300px;
    font-family:arial;
    box-shadow:2px 2px;
  }
  .StockPicks-Heading{
    font-size: 1.8rem;
    margin-top: 40px;
    color:black;
  }
  .MarketAnalysis-Name{
    font-size:30px;
  }
  .MarketAnalysis-Short{
    font-size:15px;
  }
  .MarketAnalysis-Value{
    font-size:20px;
    margin-top:20px;
  }
  .MarketAnalysis-Growth{
    font-size:15px;
  }
  .MarketAnalysis{
    text-align:center;
    display:flex;
    gap:30px;
    justify-content: center;
  }
  .MarketAnalysis-Divs{
    margin-top: 10px;
    border:solid black;
    border-radius:10px;
    border-width:1px;
    background-color:white;
    width:300px;
    font-family:arial;
    box-shadow:2px 2px;
  }
  .MarketAnalysis-Heading{
    font-size: 1.8rem;
    margin-top: 40px;
    color:black;
  }
  